In [27]:
import os

In [45]:
fruit="apple"
ss = f" This is {fruit} "
print(ss)

 This is apple

In [8]:
# 認識串列 [121,42,4224,232]

In [9]:
aa = [121,42,4224,232]

In [10]:
aa[0]

121

In [11]:
aa[-1]

232

In [12]:
for i in aa:
    print(i)

121
42
4224
232

In [13]:
bb = input("Please enter a number : ")

Please enter a number : 123

In [14]:
bb

'123'

In [16]:
aa=[]

In [17]:
aa

[]

In [19]:
aa.append(12)

In [20]:
aa

[12]

In [24]:
data=[]
for i in range(3):
    lon = input("Please enter longitude: ")
    lat = input("Please enter latitude: ")
    ss = lon + " " + lat + "\n"
    print(ss)
    data.append(ss)

Please enter longitude: 121.4
Please enter latitude: 22
121.4 22

Please enter longitude: 122
Please enter latitude: 23
122 23

Please enter longitude: 123
Please enter latitude: 25
123 25

In [25]:
data

['121.4 22\n', '122 23\n', '123 25\n']

In [26]:
with open("data.txt","w") as fp:
    fp.write(data[0])
    fp.write(data[1])
    fp.write(data[2])

In [40]:
with open("gmt_homework2.bat","w") as fp:
    fp.write("gmt begin GMT_2 \n")
    fp.write("   gmt coast -R119/123/21/26 -JM10 -B1 -Df -G100 \n")
    fp.write("   gmt plot data.txt -Sa1.2 -Gyellow \n")
    fp.write("gmt end show \n")

In [41]:
os.system("gmt_homework2.bat")

0

## 作業內容 (依完成度給分)
###  1. 讓使用者輸入5筆地震紀錄
###  2. 用3種不同的符號畫出地震 (圖另外交)
###  3. 讓使用者輸入地震顏色 (red, blue, yellow)